<section class="ff-poppins container criar-pensamento">
  <h1>Adicione um novo pensamento</h1>
  <div class="criar-pensamento-form-bg">
    <form class="criar-pensamento-form" action="">
      <div>
        <label for="pensamento">Pensamento</label>
        <textarea rows="5" id="pensamento" name="pensamento" placeholder="Digite o pensamento"></textarea>
      </div>
      <div>
        <label for="autoria">Autoria</label>
        <input type="text" id="autoria" name="autoria" placeholder="Insira o nome do(a) autor(a) ou fonte" />
      </div>
      <div>
        <label for="modelo">Selecione o modelo do card:</label>
        <div class="criar-pensamento-radio">
          <div>
            <label class="radio-modelo">Modelo 1
              <input type="radio" name="modelo" checked="checked" value="modelo1" id="modelo1">
              <span class="checkmark"></span>
            </label>
            <div class="modelo-previa-bg previa-bg-cor-1">
                <div class="modelo-previa">
                  <img src="../../../../assets/img/icon-aspas-laranja.svg" alt="">
                  <p class="texto-pensamento">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <p class="texto-autoria">Autora da Silva Sauro</p>
                </div>
            </div>
          </div>
          <div>
            <label class="radio-modelo">Modelo 2
              <input type="radio" name="modelo" checked="checked" value="modelo2" id="modelo2">
              <span class="checkmark"></span>
            </label>
            <div class="modelo-previa-bg previa-bg-cor-2">
              <div class="modelo-previa">
                <img src="../../../../assets/img/icon-aspas-roxo.svg" alt="">
                <p class="texto-pensamento">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <p class="texto-autoria">Autora da Silva Sauro</p>
              </div>
            </div>
          </div>
          <div>
            <label class="radio-modelo">Modelo 3
              <input type="radio" name="modelo" checked="checked" value="modelo3" id="modelo3">
              <span class="checkmark"></span>
            </label>
            <div class="modelo-previa-bg previa-bg-cor-3">
              <div class="modelo-previa">
                <img src="../../../../assets/img/icon-aspas-azul.svg" alt="">
                <p class="texto-pensamento">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <p class="texto-autoria">Autora da Silva Sauro</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="criar-pensamento-form-acoes">
        <button class="botao">Salvar</button>
        <button class="botao">Cancelar</button>
      </div>
    </form>
  </div>
</section>
